#titre{
  font-size: 75px;
  text-align: center;
  text-decoration: underline;
}

#ligne_un{
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-bottom: 5px;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 50px;
}

#ligne_deux{
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

#carte0{
  display: flex;
  border: 2px solid black;
  background: black;
  font-size: 50px;
  border-radius: 5px;
}

#carte1{
  display: flex;
  border: 2px solid black;
  background: black;
  font-size: 50px;
  border-radius: 5px;
}

#carte2{
  display: flex;
  border: 2px solid black;
  background: black;
  font-size: 50px;
  border-radius: 5px;
}

#carte3{
  display: flex;
  border: 2px solid black;
  background: black;
  font-size: 50px;
  border-radius: 5px;
}

#carte4{
  display: flex;
  border: 2px solid black;
  background: black;
  font-size: 50px;
  border-radius: 5px;
}

#carte5{
  display: flex;
  border: 2px solid black;
  background: black;
  font-size: 50px;
  border-radius: 5px;
}

#carte0:hover{
  background: grey;
  color: #808080;
}

#carte1:hover{
  background: grey;
  color: #808080;
}

#carte2:hover{
  background: grey;
  color: #808080;
}

#carte3:hover{
  background: grey;
  color: #808080;
}

#carte4:hover{
  background: grey;
  color: #808080;
}

#carte5:hover{
  background: grey;
  color: #808080;
}

body{
  text-align: center;
}